<html>
	<head>
		<meta charset="utf-8" />
		<link href="css/shouye.css" type="text/css" rel="stylesheet" />
		<link href="css/tiezi.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="dh" style="background-image:url(image/dh.png);">
			<div class="logo"><img src="image/logo.png" width="120" height="50"></div>
			<div class="dhlb">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="list.php">新帖</a></li>
					<li><a href="#">下载</a></li>
					<li><a href="#">插件与模板</a></li>
					<li><a href="#">1元商业授权</a></li>
					<li><a href="#">一键部署</a></li>
				</ul>
			</div>
			<div class="search"><input type="text" placeholder="搜索其实很简单"></div>
			<div class="zc"><a href="login.php">登录</a><a href="regist.php">注册</a></div>
		</div>
		<div class="tiezi_dh"><a href="index.php">首页</a> > <a href="#">phpwind 移动版<a/> > <a href="#">程序发布</a> > <a href="#">PW移动社区9.0正式推出，开放公测（2015.11.19更新）</a></div>
		<div class="tiezi_fenye">用于写分页条件</div>
		<div class="tiezi_middle">
			<div class="tiezi_middle_left">
				<div class="tiezi_middle_left_zong">
					<div class="tiezi_middle_left_zong_tx"><img src="image/touxiang2.png" width="130" height="130" /></div>
					<div class="tiezi_middle_left_zong_one"><a href ="#">PW相即</a></div>
					<div class="tiezi_middle_left_zong_two">管理员<img src="image/yst.png" /></div>
					<div class="tiezi_middle_left_zong_three">
						<ul>
							<li>发帖数&nbsp;&nbsp;426</li>
							<li>铜币&nbsp;&nbsp;&nbsp;6334两</li>
							<li>威望&nbsp;&nbsp;&nbsp;428点</li>
							<li>贡献&nbsp;&nbsp;&nbsp;0点</li>
							<li>注册日期&nbsp;2014-11-03</li>
							<li>最后登录&nbsp;2015-06-11</li>
						</ul>
					</div>
					<div class="tiezi_middle_left_zong_four"><a href="#">加关注<a/>&nbsp; <a href="#">写私信<a/></div>
				</div>
			</div>
			<div class="tiezi_middle_right">
				<div class="tiezi_middle_right_middle">
					<div class="tiezi_middle_right_middle_title">[安装程序]PW移动社区9.0正式推出，开放公测（2015.11.19更新）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>阅读：357395 | 回复：392</span></div>
					<div class="tiezi_middle_right_middle_fbrq">发布于：2015-03-11 13:48</div>
				</div>
			</div>
			
			
			
		
		<div class="tiezi_middle_left1">
				<div class="tiezi_middle_left_zong">
					<div class="tiezi_middle_left_zong_tx"><img src="image/cook.jpg" width="130" height="130" /></div>
					<div class="tiezi_middle_left_zong_one"><a href ="#">沙口集</a></div>
					<div class="tiezi_middle_left_zong_two">PW moblie内测组<img src="image/yst.png" /></div>
					<div class="tiezi_middle_left_zong_three">
						<ul>
							<li>发帖数&nbsp;&nbsp;426</li>
							<li>铜币&nbsp;&nbsp;&nbsp;6334两</li>
							<li>威望&nbsp;&nbsp;&nbsp;428点</li>
							<li>贡献&nbsp;&nbsp;&nbsp;0点</li>
							<li>注册日期&nbsp;2014-11-03</li>
							<li>最后登录&nbsp;2015-06-11</li>
						</ul>
					</div>
					<div class="tiezi_middle_left_zong_four"><a href="#">加关注<a/>&nbsp; <a href="#">写私信<a/></div>
				</div>
			</div>
			
			<div class="tiezi_middle_right1">
				<div class="tiezi_middle_right_middle">
					<div class="tiezi_middle_right_middle_title"><span>沙发</span></div>
					<div class="tiezi_middle_right_middle_fbrq">发布于：2015-03-11 13:48</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<div class="bottom_bottom">
				关于phpwind&nbsp;&nbsp;联系我们&nbsp;&nbsp;问题反馈&nbsp;&nbsp;程序建议&nbsp;&nbsp;阿里云官方网站&nbsp;&nbsp;官方微博
			</div>
	</body>
</html>