	footer{
		width:1200px;
		height:62px;
		margin:0px auto;
	}
	footer .centerdi{
		height:50px;
		width:500px;
		margin:0px auto;
	}
	footer .centerdi ul{
		list-style:none;
		float:left;
			}
	footer .centerdi ul li{
		float:left;
		margin-left:13px;

	}

	footer .centerdi ul li a:link{
		color:#666666;
		font-size:12px;
		text-decoration:none;
		}
	footer .centerdi ul li a:hover{
		text-decoration:underline;
		}
	footer .centerdi ul .p{
		color:#666666;
		font-size:12px;
		margin-top:3px;
	}
	footer .centerdi ul li .as:hover{
		color:#000;
		}
	.qqq{
		position:fixed;
		left:1330px;
		top:720px;
		width:50px;
		height:50px;
		background:url(../image/ER1.PNG);
		
		}
		.qqq:hover{
		position:fixed;
		left:1330px;
		top:720px;
		width:50px;
		height:50px;
		background:url(../image/ER.PNG);
		
		}
			