
		*{
		margin:0px;
		padding:0px;
		}
		header{
			width:1429px;
			height:108px;
			background:#0078D8;
		}
		header .logo{
			width:130px;
			height:108px;
			line-height:108px;
			margin-left:90px;
			float:left;
		}
		header .logo img{
			padding-top:35px;
		}
		header .liebiao{
			width:609px;
			height:108px;
			float:left;
			margin-left:48px;
		header .liebiao .ul{
			width:609px;
			height:108px;
			line-height:108px;

		}
		

		}
		header .liebiao .ul li{
			float:left;
			height:108px;
			list-style:none;
			line-height:108px;
			width:100px;
			
		}
		header .liebiao .ul li:hover{
			height:108px;
			width:100px;
		background:#006CC2;
			
			
		}
		header .liebiao .ul a{
			width:609px;
			height:108px;
			text-align:center;
			color:#fff;

			
		}
		header .sacher{
			width:240px;
			height:108px;
			float:right;
			font-size:12px;
		}
		header .sacher .tu {
			margin-top:36px;
			float:left;
		}
		header .sacher .sacher_a{
		float:left;
		margin-top:40px;
		margin-left:6px;
		}
		header .sacher .sacher_a a:link{
		 color:#fff;
		 text-decoration:none;
		}
		header .sacher .sacher_a a:hover{
		 text-decoration:underline;
		}

			
 