body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;padding:0;
}
body{
	background-color:#F1F5F8;
}
.dh{
	width:100%;
	height:105px;
}
.logo{
	width:150px;
	height:50px;
	float:left;
	margin-top:30px;
	margin-left:40px;
}
.dhlb{
	line-height:70px;
}
.dhlb ul li{
	list-style:none;
	float:left;
}
.dhlb ul li a{
	display:block;
	padding:19px 15px 19px 15px;
	color:white;
	text-decoration:none;
	font-size:16px;
}
.dhlb ul li a:hover{
	background:#006FC7; 
	filter:alpha(opacity=50);  /*支持 IE 浏览�?*/
	-moz-opacity:0.50; /*支持 FireFox 浏览�?*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
.search{
	margin-top:40px;
	margin-left:240px;
	float:left;
}
.search input{
	width:200px;
	height:35px;
}
.zc{
	float:right;
	margin-right:40px;
	margin-top:45px;
}
.zc a{
	text-decoration:none;
	color:white;
	font-size:12px;
	padding-left:8px;
}
.middle{
	margin-left:30px;
	margin-top:10px;
	width:1200px;
}
.ad1{
	width:100%;
	height:90px;
	border:1px solid #FFFFFF;
}
.tiaoshu{
	width:700px;
	height:30px;
	margin-top:20px;
}
.tiaoshu ul li{
	list-style:none;
	float:left;
	color:#616364;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #CCCCCC;
}
.tiaoshu ul li:last-child{
	border:0px;
}
.redian{
	width:100%px;
	height:280px;
	background-color:#FFFFFF;
	border:1px solid #EFEFEF;
}
.ad2{
	margin-top:10px;
	width:100%;
	height:90px;
	border:1px solid #D3D3D3;
}
.rt1{
	margin-top:10px;
	width:100%;
	height:100px;
	border:1px solid #E5E5E5;
}
.rt1_top{
	width:100%;
	height:30px;
	background-color:#F7F7F7;
}
.rt1_bottom{
	width:100%;
	height:70px;
	background-color:#FFFFFF;
	border:1px solid #E5E5E5;
}
.rt1_top_left{
	width:200px;
	height:30px;
	line-height:30px;
	margin-left:10px;
	float:left;
}
.rt1_top_left a{
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	color:#107DCC;
}
.rt1_top_left a:hover{
	text-decoration:underline;
}
.rt1_top_right{
	width:200px;
	height:30px;
	line-height:30px;
	margin-right:0px;
	float:right;
	font-size:13px;
}
.rt1_top_right span{
	color:#666666;
}
.rt1_top_right a{
	text-decoration:none;
	font-weight:bold;
	color:#105CB6;
}
.rt1_top_right a:hover{
	text-decoration:underline;
}
.rt1_bottom_left{
	width:390px;
	height:70px;
	float:left;
}
.rt1_img{
	width:56px;
	height:70px;
	float:left;
}
.rt1_ul{
	width:300px;
	height:70px;
	float:left;
	margin-left:8px;
	margin-top:3px;
	line-height:18px;
}
.rt1_ul ul li{
	list-style:none;
}
.rt1_ul ul li span{
	font-size:14px;
	color:#444444;
}
.rt1_ul ul li a{
	font-size:14px;
	color:#0000FF;
	text-decoration:none;
}
.rt1_ul ul li a:hover{
	text-decoration:underline;
}
.rt2{
	width:100%;
	height:100px;
	margin-top:1px;
	border:1px solid #E5E5E5;
}
.rt2_top{
	width:100%;
	height:30px;
	background-color:#F7F7F7;
}
.rt2_bottom{
	width:100%;
	height:70px;
	background-color:#FFFFFF;
	border:1px solid #E5E5E5;
}
.rt2_top_left{
	width:200px;
	height:30px;
	line-height:30px;
	margin-left:10px;
	float:left;
}
.rt2_top_left a{
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	color:#107DCC;
}
.rt2_top_left a:hover{
	text-decoration:underline;
}
.rt2_top_right{
	width:200px;
	height:30px;
	line-height:30px;
	margin-right:0px;
	float:right;
	font-size:13px;
}
.rt2_top_right span{
	color:#666666;
}
.rt2_top_right a{
	text-decoration:none;
	font-weight:bold;
	color:#105CB6;
}
.rt2_top_right a:hover{
	text-decoration:underline;
}
.rt2_bottom_left{
	width:390px;
	height:70px;
	float:left;
}
.rt2_img{
	width:56px;
	height:70px;
	float:left;
}
.rt2_ul{
	width:300px;
	height:70px;
	float:left;
	margin-left:8px;
	margin-top:3px;
	line-height:18px;
}
.rt2_ul ul li{
	list-style:none;
}
.rt2_ul ul li span{
	font-size:14px;
	color:#444444;
}
.rt2_ul ul li a{
	font-size:14px;
	color:#0000FF;
	text-decoration:none;
}
.rt2_ul ul li a:hover{
	text-decoration:underline;
}
.youqing{
	margin-top:20px;
	width:100%;
	height:100px;
}
.youqing_top{
	width:100%;
	height:30px;
	border:1px solid #E4E4E4;
	background-color:#FFFFFF;
}
.youqing_top_title{
	font-size:14px;
	color:#333333;
	width:100px;
	height:30px;
	line-height:30px;
	margin-left:20px;
}
.youqing_bottom{
	width:100%;
	height:70px;
	border:1px solid #E4E4E4;
	background-color:#FFFFFF;
}
.bottom_bottom{
	margin-top:30px;
	width:100%;
	height:50px;
	border-top:1px solid #CDD1D3;
	text-align:center;
	font-size:14px;
	color:#666666;
	line-height:30px;
}